{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}Auflistung: {{ model_verbose_name_plural }}{% endif %}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}Auflistung: {{ model_verbose_name_plural }}{% endif %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                  <div class="row create">
                    {% if url_create %}
                    <div class="col-lg-6">
                        {% crud_url object "create" namespace as url %}
                        {% if url and 'create' in views_available and crud_perms.create %}
                          <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                              Neu erstellen: {{ model_verbose_name }}</a>
                          {%endif%}
                    </div>
                    {% endif %}
                    {% if search %}
                    <div class="col-lg-6 search">
                        <form action="" method="get">
                            <div class="input-group">
                                <input type="text" name="q" value="{{q}}" class="form-control" placeholder="Suche nach ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-flat" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% if filters %}

                <div class="filters">
                    <div class="box box-warning" id="filterCollapseBox">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans 'Filter' %}</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool btn-success" type="button" id="filterCollapse">
                                    <i class="fa fa-minus" id="filterCollapseButtonLabel"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" style="">
                            <form action="" method="get">
                                <table class="table">
                                    {% for filter in filters %}
                                    {{filter.render }}
                                    {% endfor %}
                                </table>
                                <input type="submit" class="btn btn-info filter" value="Filtern" />
                                <a class="btn btn-warning" href="?">Filter leeren</a>
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                    if (window.location.search.length <= 1)
                    {
                        $('#filterCollapseBox').addClass("collapsed-box");
                        $('#filterCollapseButtonLabel').removeClass("fa-minus")
                        $('#filterCollapseButtonLabel').removeClass("fa-minus")
                                                       .addClass("fa-plus");
                    }
                </script>
                
                {% endif%}

                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-hover">
                <div class="box-body">
                {% if paginate_position == 'Up' or paginate_position == 'Both' %}
                    {% include paginate_template %}
                {% endif %}
                    <table id="datatable" class="table table-responsive table-bordered table-hover">
                    {% if object_list %}
                        <thead>
                            {% block thead %}
                            {% for field, field_name in fields.items %}
                            <th class="th-field-{{ field|lower }} th-fieldtype-{{ field_name.1|lower }}">{{ field_name.0 }}</th>
                            {% endfor %}
                            <th>Aktionen</th>
                            {% endblock thead %}
                        </thead>
                        <tbody>
                          {% block tbody %}
                          {% for object in object_list %}
                            <tr>
                              {% for field, field_name in fields.items %}
                              <td class="td-field-{{ field|lower }} td-fieldtype-{{ field_name.1|lower }}">
                                {% with column=field_name.1|lower|add:".html" %}
                                    {% include "cruds/columns/"|add:column %}
                                {% endwith %}
                                {# typefield #}
                              </td>
                              {% endfor %}
                              <td>
                                {% block actions %}
                                  {% crud_url object "detail" namespace as url %}
                                    {% if url and 'detail' in views_available and crud_perms.detail %}
                                    <a href="{{ url }}{{getparams}}" class="btn btn-default"><i class="fa fa-info-circle" style="color: #888;"></i></a>
                                    {% endif %}
                                    {% crud_url object "update" namespace as url %}
                                    {% if url and 'update' in views_available and crud_perms.update %}
                                    <a href="{{ url }}{{getparams}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                    {% endif %}
                                    {% crud_url object "delete" namespace as url %}
                                    {% if url and 'delete' in views_available and crud_perms.delete %}
                                    <a href="{{ url }}{{getparams}}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                {% endblock %}
                              </td>
                            </tr>
                          {% endfor %}
                          {% endblock tbody %}
                        </tbody>
                    {% else %}
                      <thead><th></th></thead>
                      <tbody><tr><td>Bisher keine Eintr&auml;ge</td></tr></tbody>
                    {% endif %}
                    </table>

                    {% if paginate_position == 'Bottom' or paginate_position == 'Both' %}
                  {% include paginate_template %}
                {% endif %}

                </div>

                <div class="box-footer"></div>
            </div>
        </div>
    </div>
{% endblock content %}
